@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Spectral:wght@700&family=Yeseva+One&display=swap');

html, body {
    padding: 0 !important;
    margin: 0 !important;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 0;
    display: none;
}

/* themes */

.dark {
    color: white;
}

.light {
    color: black;
}

/* fonts */

.spectral {
    font-family: 'Spectral', serif;font-family: Spectral;
}

.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.yeseva-one {
    font-family: 'Yeseva One', cursive;
}

/* general */

.logo-brackets {
    color: #1973F5;
}

.fill {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.logo {
    font-size: clamp(1.5rem, 20vmin, 2.2rem);
    font-weight: 400;
}

.navigation-link {
    font-size: 1.2rem;
    font-weight: 500;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 15vh;
    width: 90vw;
}

.navigation-right {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 5px;
    gap: 1rem;
}

.toggle-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.header {
    font-size: 3rem;
    margin-bottom: 0px;
    line-height: 3rem;
}

.header-description {
    font-weight: 500;
    margin-top: 15px;
    line-height: 1.5rem;
}

.resume {
    margin-top: 8vh;
    background-color: #1973F5;
    color: white;
    padding-left: 1.5rem;
    font-weight: 500;
}

.toggle {
    background-color: transparent;
    margin-top: 7px;
}

.download {
    width: 2rem;
    height: 2rem;
    float: right;
    margin-left: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.27);
}

.socials-icon {
    width: 2.5rem;
    height: 2.5em;
}

.socials-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.my-info-container {
    margin-top: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.project-title {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.project-name {
    font-size: 2em;
    margin-top: 0;
    margin-bottom:0;
}

.languages {
    font-weight: 500;
}

.project-summary {
    line-height: 2em;
    width: clamp(30%, 35%, 60%);
}

.explore {
    background-color: transparent;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 10vh;
}

.arrow {
    margin-left: 0.8em;
    width: 1em;
    height: 1em;
}

.explore:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.section-1 {
    height: 100vh;
}

.section-2 {
    height: 100vh;
}

button.socials {
    background-color: transparent;

}

button {
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	text-decoration-thickness: 2px;
}